.menu{
    height: 50px;
    width: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: #000;
    font-size: 24px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.links{
    color: white;
}


